<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 sidebar left-sidebar circleBehind">
  <div>
    <h1 class="sidebar-title title-light">your rentals</h1>
  </div>
  <ul>
    <li class="active"><a class="left-sidebar-nav-link" href="/"><i class="material-icons">near_me</i>properties</a></li>
    <li><a class="left-sidebar-nav-link" href="/requests"><i class="material-icons">announcement</i>requests</a></li>
    <li><a class="left-sidebar-nav-link" href="/deadlines"><i class="material-icons">alarm_on</i>deadlines</a></li>
    <li><a class="left-sidebar-nav-link" href="/forms"><i class="material-icons">file_upload</i>forms</a></li>
    <li><a class="left-sidebar-nav-link" href="/todos"><i class="material-icons">check_circle</i>todos</a></li>
  </ul>
</div>
