<div class="col-lg-2 sidebar right-sidebar">
  <div class="row">
    <div>
      <h1 class="sidebar-title">tenant activity</h1>
    </div>
    <ul>
      <li>Zac submitted <span class="friend-day">damage report</span> on 12/30/2017.<br><i class="material-icons friend-icon friend-help">loyalty</i><i class="material-icons friend-icon friend-help">gesture</i><i class="material-icons friend-icon friend-help">remove_red_eye</i></li>
      <li>Flamur requested <span class="friend-day">maintenance</span> on 12/31/2017.<br><i class="material-icons friend-icon friend-help">loyalty</i><i class="material-icons friend-icon friend-help">gesture</i><i class="material-icons friend-icon friend-help">remove_red_eye</i></li>
      <li>Josh submitted <span class="friend-day">damage report</span> on 01/01/2017.<br><i class="material-icons friend-icon friend-help">loyalty</i><i class="material-icons friend-icon friend-help">gesture</i><i class="material-icons friend-icon friend-help">remove_red_eye</i></li>
    </ul>
    <div class="btn full-width-btn primary-btn">view all activity</div>
  </div>
  <div class="credit">Contact me: CoreyBush.com</div>
</div>
